### Esercizio per mercoledÃ¬ 19

1. Create a dataframe of at least 1000 rows about an hypothetical list of employees of your company, extract all employees in the IT department and a Salary greater than 55000.
2. Create a column to split the data in Low, Medium, High fare prices and calculate the average Age per each section. Fill the Age set to nan and calculate the average age again, how did it change? How can you fill the age so that the average does not change?

### 1.

*Importare le librerie*

In [17]:
import pandas as pd
import numpy as np

*Creazione del DataFrame con dati ipotetici*

In [18]:
np.random.seed(42)
n_rows = 1000

departments = ['IT', 'HR', 'Finance', 'Marketing', 'Sales']
df = pd.DataFrame({
    'Employee_ID': range(1, n_rows + 1),
    'Name': [f'Employee_{i}' for i in range(1, n_rows + 1)],
    'Department': np.random.choice(departments, n_rows),
    'Salary': np.random.randint(30000, 90000, n_rows),
    'Age': np.random.randint(22, 65, n_rows),
    'Fare': np.random.uniform(10, 500, n_rows)
})

ðŸ’¡ Quando usare np.random.seed()?

Quando vuoi risultati riproducibili (utile per debugging o condivisione di codice).
Nei modelli di Machine Learning, per avere dataset randomizzati ma coerenti tra le esecuzioni.
Quando scrivi test automatizzati, cosÃ¬ il comportamento non cambia ad ogni esecuzione.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Department   1000 non-null   object
 3   Salary       1000 non-null   int32
 4   Age          1000 non-null   int32
 5   Fare         1000 non-null   float64
dtypes: float64(1), int32(2), int64(1), object(2)
memory usage: 39.2+ KB

In [20]:
df.shape

(1000, 6)

In [21]:
print(df.head)

<bound method NDFrame.head of      Employee_ID           Name Department  Salary  Age        Fare
0              1     Employee_1  Marketing   49915   53  192.247007
1              2     Employee_2      Sales   69915   62  231.331441
2              3     Employee_3    Finance   67219   57  204.716881
3              4     Employee_4      Sales   45343   55   55.769906
4              5     Employee_5      Sales   76403   57  226.125358
..           ...            ...        ...     ...  ...         ...
995          996   Employee_996         HR   55963   29   13.274243
996          997   Employee_997         IT   66221   54  388.427497
997          998   Employee_998         IT   69443   63  316.350337
998          999   Employee_999  Marketing   63723   56  193.041853
999         1000  Employee_1000    Finance   69063   27   34.739583

[1000 rows x 6 columns]>

*Filtrare gli impiegati nel dipartimento IT con salario > 55000*

In [22]:
filtered_df = df[(df['Department'] == 'IT') & (df['Salary'] > 55000)]
print(filtered_df.head)

<bound method NDFrame.head of      Employee_ID          Name Department  Salary  Age        Fare
24            25   Employee_25         IT   66244   44  303.075188
33            34   Employee_34         IT   83173   35   67.645554
41            42   Employee_42         IT   61880   46  498.568297
45            46   Employee_46         IT   66980   58  346.561889
70            71   Employee_71         IT   75765   22  453.626338
..           ...           ...        ...     ...  ...         ...
939          940  Employee_940         IT   59545   28  196.906110
954          955  Employee_955         IT   82579   55   60.529468
966          967  Employee_967         IT   69825   43  319.043231
996          997  Employee_997         IT   66221   54  388.427497
997          998  Employee_998         IT   69443   63  316.350337

[126 rows x 6 columns]>

### 2.

*Creazione della colonna Fare_Category*

In [23]:
def categorize_fare(fare):
    if fare < 100:
        return 'Low'
    elif fare < 300:
        return 'Medium'
    else:
        return 'High'

df['Fare_Category'] = df['Fare'].apply(categorize_fare)

*Calcolo della media dell'etÃ  per categoria di prezzo*

In [24]:
average_age_per_category = df.groupby('Fare_Category')['Age'].mean()
print("\nMedia dell'etÃ  per categoria di prezzo:\n", average_age_per_category)

Media dell'etÃ  per categoria di prezzo:
 Fare_Category
High      43.002404
Low       43.042105
Medium    42.563452
Name: Age, dtype: float64

*Inserimento di valori NaN casualmente nell'etÃ *

In [25]:
df.loc[np.random.choice(df.index, size=100, replace=False), 'Age'] = np.nan

*Calcolo della media dell'etÃ  dopo l'introduzione di NaN*

In [26]:
average_age_with_nan = df.groupby('Fare_Category')['Age'].mean()
print("\nMedia dell'etÃ  dopo i NaN:\n", average_age_with_nan)

Media dell'etÃ  dopo i NaN:
 Fare_Category
High      42.840000
Low       42.732558
Medium    42.320113
Name: Age, dtype: float64

*Riempire i NaN con la media pre-esistente per non alterare il valore medio*

In [31]:
df['Age'] = df.groupby('Fare_Category')['Age'].transform(lambda x: x.fillna(x.mean()))
print(df[['Fare_Category', 'Age']].head(10))

  Fare_Category        Age
0        Medium  53.000000
1        Medium  62.000000
2        Medium  57.000000
3           Low  55.000000
4        Medium  42.320113
5        Medium  23.000000
6        Medium  36.000000
7           Low  55.000000
8        Medium  57.000000
9          High  42.840000

*Ricalcolo della media per verificare che sia invariata*

In [32]:
final_average_age = df.groupby('Fare_Category')['Age'].mean()
print("\nMedia dell'etÃ  dopo il riempimento dei NaN:\n", final_average_age)

Media dell'etÃ  dopo il riempimento dei NaN:
 Fare_Category
High      42.840000
Low       42.732558
Medium    42.320113
Name: Age, dtype: float64

### Risultati e osservazioni
Filtraggio degli impiegati IT con salario > 55000 â†’ Estrae solo i dipendenti del settore IT che guadagnano piÃ¹ di 55000.
Creazione della categoria di prezzi (Fare_Category) â†’ Divide i valori in Low, Medium, High.
Calcolo della media dell'etÃ  per categoria â†’ EtÃ  media per Low, Medium e High.
Inserimento di NaN â†’ La media dell'etÃ  cambia.
Riempimento dei NaN con la media originale â†’ La media torna al valore originale, evitando distorsioni.